@using OfficeMonitor.Models.Departments
@using OfficeMonitor.Models.Employee
@model DepartmentStatistic

<script>
    function openEmployeeStatisticModal(id) {
        var startDate = $('#daterange').data('daterangepicker').startDate.format('DD.MM.YYYY');
        var endDate = $('#daterange').data('daterangepicker').endDate.format('DD.MM.YYYY');
        console.log("Start Date:", startDate, "End Date:", endDate);
        var dataRange = startDate + ' - ' + endDate;

        var GetEmployeeStatistic = {
            "EmployeeId": id,
            "DateRange": dataRange
        };

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'POST',
            url: 'Manager/GetEmployeeStatistic',
            data: JSON.stringify(GetEmployeeStatistic),
            success: function (response) {
                //alert("Статистика получена " + response);
                $("#modal-body").html(response);
                alert("success");
            },
            error: function (response) {
                alert("Ошибка при получении статистики" + response.responseText);
            }
        });
        openModal();
    }
</script>

<div class="info-content">
    <div class="info-card">
        @if(Model.WorkTime!=null){
            <div class="name">Время работы</div>
            <div class="value">@Model.WorkTime.StartTime - @Model.WorkTime.EndTime</div>
        }else{
            <div class="name">Время работы</div>
            <div class="value">не установлено</div>
        }
    </div>

    <div class="info-card">
        <div class="name">Требуемое количество часов</div>
        <div class="value">@Model.RequiredTotalHours.Hours ч. @Model.RequiredTotalHours.Minutes м.</div>
    </div>

    <div class="info-card">
        <div class="name">Всего часов</div>
        <div class="value">@Model.TotalHours.Hours ч. @Model.TotalHours.Minutes м.</div>
    </div>

    <div class="info-card">
        <div class="name">Процент выполнения плана</div>
        <div class="value">@Model.WorkedPercent %</div>
    </div>

    <div class="info-card">
        <div class="name">Процент простоя из общего времени</div>
        <div class="value">@Model.IdlePercent %</div>
    </div>

    <div class="info-card">
        <div class="name">Процент отвлечения из общего времени</div>
        <div class="value">@Model.DiversionPercent %</div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Id</th>
            <th>ФИО</th>
            <th>Email</th>
            <th>Пароль</th>
            <th>Должность</th>
            <th>Работа</th>
            <th>Простой</th>
            <th>Отвлечение</th>
        </tr>
    </thead>
    <tbody>
        @{
            int numberOfRow = 1;
            foreach (GetEmployeeWithInfoModel employee in Model.Employees)
            {
                    <tr>
                        <td>@numberOfRow</td>
                        <td>@employee.Id</td>
                        <td>@employee.FIO</td>
                        <td>@employee.Login</td>
                        <td>@employee.Password.Substring(0, 10)...</td>
                        <td>@employee.Profile.Name</td>
                        <td>@employee.WorkTime.Hours ч. @employee.WorkTime.Minutes м.</td>
                        <td>@employee.IdleTime.Hours ч. @employee.IdleTime.Minutes м.</td>
                        <td>@employee.DiversionTime.Hours ч. @employee.DiversionTime.Minutes м.</td>
                        <td>
                            <div class="column-button-list">
                                <button onclick="openEmployeeStatisticModal(@employee.Id)">Подробно</button>
                            </div>
                        </td>
                    </tr>
                numberOfRow++;
            }
        }
    </tbody>
</table>