@using OfficeMonitor.Models.Employee
@model GetEmployeeModel

<script>
    $(document).ready(function () {
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'GET',
            url: '/api/GetDepartmentsByManagerHtml',
            success: function (response) {
                $("#department").html(response);
            },
            error: function (response) {
                alert("Ошибка получения отделов" + response.responseText);
            }
        });

        getProfiles();

        var departmentSelect = document.getElementById("department");;
        departmentSelect.addEventListener('change', function (e) {
            getProfiles();
        });
    });

    function getProfiles() {
        var IntIdModel = {
            "Id": $('#employeeDepartmentId').val()
        };
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'POST',
            url: '/api/GetProfilesByDepartmentHtml',
            data: JSON.stringify(IntIdModel),
            success: function (response) {
                $("#profile").html(response);
            },
            error: function (response) {
                alert("Ошибка получение дожностей" + response.responseText);
            }
        });
    }

    function deleteWorkTime(id) {
        var IntIdModel = {
            "Id": id
        };

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '/api/DeleteEmployee',
            data: JSON.stringify(IntIdModel),
            success: function (response) {
                alert("Время работы удалено");
            },
            error: function (response) {
                alert("Ошибка при удалении времени работы" + response.responseText);
            }
        });
    }
</script>

<div class="form-name">Назначение рабочего времени</div>
<hr>
<form asp-controller="api" asp-action="UpdateEmployee" method="post">
    <input type="hidden" id="Id" name="IdDepartment" />

    <label for="Name">Имя</label><br>
    <input id="Name" name="Name" type="text" value="@Model.Name"><br>

    <label for="Surname">Фамилия</label><br>
    <input id="Surname" name="Surname" type="text" value="@Model.Surname"><br>

    <label for="Patronamic">Отчество</label><br>
    <input id="Patronamic" name="Patronamic" type="text" value="@Model.Patronamic"><br>

    <label for="Email">Почта</label><br>
    <input id="Email" name="Email" type="text" value="@Model.Login"><br>

    <label for="Password">Пароль</label><br>
    <input id="Password" name="Password" type="text" value="@Model.Password"><br>

    <input id="employeeDepartmentId" type="hidden" value="@Model.Department.Id" />
    <label for="department">Отдел</label><br>
    <select id="department" name="IdDepartment" onchange="getProfiles()" value="@Model.Department.Id">
        <option value="-">-</option>
    </select><br>

    <input id="employeeProfileId" type="hidden" value="@Model.Department.Id" />
    <label for="profile">Должность</label><br>
    <select id="profile" name="IdProfile" value="@Model.Profile.Id">
        <option value="-">-</option>
    </select><br>

    <div class="row-button-list">
        <button type="submit">Подтвердить</button>
        <button onclick="openEmployeeModal()">Назад</button>
    </div>
</form>
