@using OfficeMonitor.Models.Manager
@model List<GetManagerModel>

<script>
    function loadDepartments(id) {
        var IntIdModel = {
            "Id":id
        };

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '/api/Rest/GetManager',
            data: JSON.stringify(IntIdModel),
            success: function (response) {
                alert("Загрузка менеджера: "+response);
                //$('#department').html(response);
                $("#surname").val(response.Surname);
                $("#name").val(response.Name);
                $("#patronamic").val(response.Patronamic);
                $("#login").val(response.Login);
                $("#password").val(response.Password);
            },
            error: function (response) {
                alert("Ошибка при загрузке менеджера");
            }
        });
    }

    function openUpdateModal(id) {
        loadDepartments(id);
        var modal = document.getElementById('modal');
        modal.style.display = 'block';
    }
    function closeUpdateModal() {
        var modal = document.getElementById('modal');
        modal.style.display = 'none';
    }
</script>

<div class="modal" id="modal">
    <div class="modal-content">
        <span class="modal-close" onclick="closeModal()">&times;</span>
        <div class="modal-body" id="modal-body">
            <div class="worktime-form">
                <div class="form-name">Редактирование менеджера</div>
                <hr>
                <form method="post">
                    <label for="surname">Фамилия</label><br>
                    <input id="surname" type="text" name="surname"><br>

                    <label for="name">Имя</label><br>
                    <input id="name" type="text" name="name"><br>

                    <label for="patronamic">Отчество</label><br>
                    <input id="patronamic" type="text" name="patronamic"><br>

                    <label for="login">Email</label><br>
                    <input id="login" type="text" name="email"><br>

                    <label for="password">Пароль</label><br>
                    <input id="password" type="text" name="password"><br>

                    <label for="department">Отдел</label><br>
                    <select id="department" name="department">
                        <option value="-">-</option>
                    </select><br>

                    <label for="profile">Должность</label><br>
                    <select id="profile" name="profile">
                        <option value="-">-</option>
                    </select><br>

                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Id</th>
            <th>ФИО</th>
            <th>Email</th>
            <th>Пароль</th>
            <th>Отдел</th>
            <th>Должность</th>
            <th>Дейсвтия</th>
        </tr>
    </thead>
    <tbody>
        @{
            int numberOfRow = 1;
            foreach (GetManagerModel manager in Model)
            {
                    <tr>
                        <td>@numberOfRow</td>
                        <td>@manager.Id</td>
                        <td>@manager.Surname @manager.Name @manager.Patronamic</td>
                        <td>@manager.Login</td>
                        <td>@manager.Password.Substring(0,10) ...</td>
                        <td>@manager.Department.Name</td>
                        <td>@manager.Profile.Name</td>
                        <td>
                            <button onclick="openUpdateModal(@manager.Id)">Редактировать</button>
                        </td>
                    </tr>
                numberOfRow++;
            }
        }
    </tbody>
</table>