@using OfficeMonitor.Models.WorkTime
@model GetWorkTimeModel

<div class="update-worktime-form" id="update-worktime-form">
    <div class="form-name">Редактирование рабочего времени</div>
    <hr>
    <form asp-controller="api" asp-action="UpdateWorkTime">
        <input type="hidden" id="workTimeId" name="Id" value="@Model.Id" />
        <input type="hidden" id="departmentId" name="IdDepartment" value="@Model.Department.Id" />

        <label for="departmentName">Отдел: </label>
        <span id="departmentName">@Model.Department.Name</span><br>

        <label for="start-time">Начало работы</label><br>
        <input id="startTime" name="StartTime" type="time" value="@Model.StartTime" min="00:00" max="24:00"><br>

        <label for="start-time">Конец работы</label><br>
        <input id="endTime" name="EndTime" type="time" value="@Model.EndTime" min="00:00" max="24:00"><br>

        <button type="submit">Подтвердить</button>
    </form>
    <button onclick="closeModal()">Назад</button>
</div>