@using OfficeMonitor.Models.Employee
@model GetEmployeeModel

<script>
    $(document).ready(function () {
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'GET',
            url: '/Company/GetDepartmentsByCompanyHtml',
            success: function (response) {
                $("#department").html(response);
                $("#department").val($('#CurrentDerpartmentId').val());
            },
            error: function (response) {
                alert("Ошибка получения отделов" + response.responseText);
            }
        });

        var IntIdModel = {
            "Id": $('#CurrentDerpartmentId').val()
        };

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'POST',
            url: '/api/GetProfilesByDepartmentHtml',
            data: JSON.stringify(IntIdModel),
            success: function (data) {
                $("#profile").html(data);
                $("#profile").val(@Model.Profile.Id);
            },
            error: function (response) {
                alert("Ошибка получение дожностей" + response.responseText);
            }
        });
    });

    function getProfiles() {
        var IntIdModel = {
            "Id": $('#department').val()
        };
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'POST',
            url: '/api/GetProfilesByDepartmentHtml',
            data: JSON.stringify(IntIdModel),
            success: function (response) {
                $("#profile").html(response);
            },
            error: function (response) {
                alert("Ошибка получение дожностей" + response.responseText);
            }
        });
    }
</script>

<div class="form-name">редактирование сотрудника</div>
<hr>
<form asp-controller="Company" asp-action="UpdateEmployee" method="post">

    <input type="hidden" id="Id" name="Id" value="@Model.Id" />

    <label for="Name">Имя</label><br>
    <input id="Name" name="Name" value="@Model.Name" type="text" class="input-text"/><br>

    <label for="Surname">Фамилия</label><br>
    <input id="Surname" name="Surname" value="@Model.Surname" type="text" class="input-text"/><br>

    <label for="Patronamic">Отчество</label><br>
    <input id="Patronamic" name="Patronamic" value="@Model.Patronamic" type="text" class="input-text"/><br>

    <label for="Email">Почта</label><br>
    <input id="Email" name="Login" value="@Model.Login" type="text" class="input-text"/><br>

    <label for="Password">Пароль</label><br>
    <input id="Password" name="Password" value="@Model.Password" type="text" class="input-text"/><br>

    <input id="employeeDepartmentId" type="hidden" value="@Model.Department.Id" />
    <label for="department">Отдел</label><br>
    <select id="department" onselect="getProfiles()" value="@Model.Department.Id" onchange="getProfiles()">
        <option value="-">-</option>
    </select><br>

    <input id="employeeProfileId" type="hidden" value="@Model.Profile.Id" />
    <label for="profile">Должность</label><br>
    <select id="profile" name="IdProfile" value="@Model.Profile.Id">
        <option value="-">-</option>
    </select><br>

    <div class="row-button-list">
        <button type="submit">Подтвердить</button>
        <button type="button" onclick="openWorkersModal($('#CurrentDerpartmentId').val())">Назад</button>
    </div>
</form>