@using OfficeMonitor.Models.Departments
@model List<GetDepartmentModel>

<script>
    function openAddDepartmentModal() {
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'GET',
            url: 'Company/AddDepartment',
            success: function (response) {
                $("#modal-body").html(response);
            },
            error: function (response) {
                alert("Ошибка " + response.responseText);
            }
        });
        openModal();
    }

    function deleteDepartment(id) {
        var IntIdModel = {
            "Id": id
        };
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '/api/DeleteDepartment',
            data: JSON.stringify(IntIdModel),
            success: function (data) {

            },
            error: function (response) {
                alert("Ошибка " + response.responseText);
            }
        });
    }

    function openUpdateModal(id) {
        var IntIdModel = {
            "Id": id
        };
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'POST',
            url: 'Company/GetUpdateDepartment',
            data: JSON.stringify(IntIdModel),
            success: function (data) {
                $("#modal-body").html(data);
            },
            error: function (response) {
                //$("#modal-body").html(response);
                //openModal();
                alert("Ошибка" + response.responseText);
            }
        });
        openModal();
    }

    function openEmployeeModal(id){
        var IntIdModel = {
            "Id": id
        };
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'POST',
            url: 'Company/DeleteDepartment',
            data: JSON.stringify(IntIdModel),
            success: function (response) {
                $("#modal-body").html(response);
            },
            error: function (response) {
                alert("Ошибка " + response.responseText);
            }
        });
        openModal();
    }
</script>

<div class="row-button-list">
    <button onclick="openAddDepartmentModal()">Добавить отдел</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Id</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Кол-во сотрудников</th>
            <th>Кол-во менеджеров</th>
        </tr>
    </thead>
    <tbody>
        @{
        int numberOfRow = 1;
        foreach (GetDepartmentModel department in Model)
        {
                    <tr>
                        <td>@numberOfRow.ToString()</td>
                        <td>@department.Id</td>
                        <td>@department.Name</td>
                        <td>@department.Description</td>
                        <td>@department.CountOfWorkers</td>
                        <td>@department.CountOfManagers</td>
                        <td>
                            <div class="row-button-list">
                                <button onclick="openEmployeeModal(@department.Id)">Сотрудники</button>
                                <button onclick="openUpdateModal(@department.Id)">Редактировать</button>
                                <button onclick="deleteDepartment(@department.Id)">Удалить</button>
                            </div>
                        </td>
                    </tr>
            numberOfRow++;
        }}
    </tbody>
</table>