@using OfficeMonitor.Models.Manager
@model List<GetManagerModel>

<script>
    function openAddModal() {
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'GET',
            url: 'Company/GetAddManager',
            success: function (response) {
                $('#modal-body').html(response);
            },
            error: function (response) {
                console.log("Ошибка при загрузке");
            }
        });
        openModal();
    }

    function openUpdateModal(id) {
        var IntIdModel = {
            "Id": id
        };
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'POST',
            url: 'Company/GetUpdateManager',
            data: JSON.stringify(IntIdModel),
            success: function (response) {
                $("#modal-body").html(response);
            },
            error: function (response) {
                alert("Ошибка получение дожностей" + response.responseText);
            }
        });
        openModal();
    }
</script>

<div class="row-button-list">
    <button onclick="openAddModal()">Добавить</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Id</th>
            <th>ФИО</th>
            <th>Email</th>
            <th>Пароль</th>
            <th>Отдел</th>
            <th>Должность</th>
            <th>Дейсвтия</th>
        </tr>
    </thead>
    <tbody>
        @{
            int numberOfRow = 1;
            foreach (GetManagerModel manager in Model)
            {
                            <tr>
                                <td>@numberOfRow</td>
                                <td>@manager.Id</td>
                                <td>@manager.Surname @manager.Name @manager.Patronamic</td>
                                <td>@manager.Login</td>
                                <td>@manager.Password.Substring(0,10) ...</td>
                                <td>@manager.Department.Name</td>
                                <td>@manager.Profile.Name</td>
                                <td>
                                    <div class="row-button-list">
                                        <button onclick="openUpdateModal(@manager.Id)">Редактировать</button>
                                    </div>
                                </td>
                            </tr>
                numberOfRow++;
            }
        }
    </tbody>
</table>